#comments {
  .swiper-pagination {
    position: relative;
    margin-top: 24px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 0.25;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
  .swiper {
    overflow: hidden;

    .swiper-slide {
      text-align: center;

      h3 {
        font-size: 24px;
        font-weight: 500;
        margin: 16px 0 12px 0;
      }

      p {
        font-size: 18px;
        font-weight: 300;
      }

      img {
        width: 120px;
        height: auto;
        border-radius: 50%;
        border: 5px solid var(--border-color-2);
        margin: 0 auto;
      }
    }
  }
}
